[mysqld]
explicit_defaults_for_timestamp = 1
character-set-server=utf8
init-connect    = 'SET NAMES utf8'
collation-server = utf8_general_ci
skip_name_resolve
sysdate-is-now = 1
event_scheduler = 1
memlock = 0
local_infile = 0
skip_show_database
back_log = 10
max_connections = 151

default-storage-engine = InnoDB
slow_query_log
slow_query_log_file = /var/log/mysql/slow_query.log
long_query_time = 1
tmpdir=/dev/shm

general_log_file = /var/log/mysql/general.log
general_log = 1

innodb_buffer_pool_size = 256M
innodb-buffer-pool-instances = 1
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_file_per_table = ON
innodb_stats_on_metadata = OFF

